<div class="row">
    <div class="text-center mx-auto col-lg-10 col-md-8 col-sm-7">
        <form action="" id="comment-form">
            <label for="comment-form">COMMENT</label>
            <div class="form-group">
                <textarea name="comment-form" id="comment" rows="3" class="form-control"></textarea>
                <div class="mt-2">
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>