<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto text-left">
            <form class="createBlogPost">
                <div class="mt-5 mb-3">
                    {{!-- Creating a new blog post using title and description --}}
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" maxlength="50" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Body</label>
                    <textarea id="bodyInput" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="text-center">
                    <button class="text-center mt-3 btn btn-dark btn-lg btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{!-- JS functionality for adding a new post --}}
<script src="/js/newPost.js"></script>