<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Login</h2>
            <form action="" class="form login-form">
                <div class="form-group mb-2">
                    <label for="email-login" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email-login" />
                </div>
                <div class="form-group mb-2">
                    <label for="password-login" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password-login">
                </div>
                <div class="form-group">
                    <button class="btn btn-dark" type="submit">Login</button>
                </div>
            </form>
            {{!-- Allow for JS to input error msg --}}
            <div id="login-error"></div>
        </div>
        <div class="col-md-6">
            <h2>Signup</h2>
            <form action="" class="form signup-form">
                <div class="form-group mb-2">
                    <label for="name-signup">Name:</label>
                    <input type="text" class="form-control" id="name-signup" />
                    <p class="subtext">this will be your display name on the site</p>
                </div>
                <div class="form-group mb-2">
                    <label for="email-signup">Email:</label>
                    <input type="text" class="form-control" id="email-signup" />
                    <p class="subtext">email must be a valid address</p>
                </div>
                <div class="form-group mb-2">
                    <label for="password-signup">Password:</label>
                    <input type="password" class="form-control" id="password-signup" />
                    <p class="subtext">password must be at least 8 characters in length</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-dark" type="submit">Signup</button>
                </div>
            </form>
            {{!-- Allow for JS to input error msg --}}
            <div id="signup-error"></div>
        </div>
    </div>
</div>
{{!-- JS functionality for logging in --}}
<script src="/js/login.js"></script>