:root {
    --carolinablue: #74B3CE;
    --bluemunsell: #508991;
    --prussianblue: #172A3A;
    --midnightgreen: #004346;
    --mint: #09BC8A;
    --font-main: 'Share Tech Mono', monospace;
}

body {
    background-color: var(--carolinablue);
}

h1 {
    color: var(--prussianblue);
    padding: 16px;
    margin-bottom: 5px;
    font-family: var(--font-main);
    font-size: 48px;
}

#blogName {
    color: var(--prussianblue);
}

main {
    margin-top: -5px;
    background-color: var(--bluemunsell);
    padding: 20px;
    width: auto;
}

.homepage-main {
    margin-top: 34px;
}

.blogPost-main {
    margin-top: 34px;
}

.user-name {
    background-color: var(--bluemunsell);
}

.navBar {
    background-color: var(--prussianblue);
    padding: 20px;
    font-family: var(--font-main);
    font-size: 24px;
}

.navBar a {
    color: white;
    padding: 20px;
    text-transform: uppercase;
}

#logout {
    background-color: white;
    margin-left: 20px;
    padding: 3px 8px;
    text-transform: uppercase;
}

#titleInput,
#bodyInput,
#comment,
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup {
    background-color: var(--bluemunsell);
}

.btn {
    margin: 20px;
}

.created-by {
    text-transform: uppercase;
    font-size: 12px;
}

.blog-description {
    background-color: rgb(239, 239, 239);
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}

.comments {
    border-top: 5px black solid;
    border-left: 1px black solid;
    padding: 20px;
}