:root {
    --carolinablue: #74B3CE;
    --bluemunsell: #508991;
    --prussianblue: #172A3A;
    --midnightgreen: #004346;
    --mint: #09BC8A;
}

body {
    background-color: var(--carolinablue);
}

h1 {
    color: var(--prussianblue);
    padding: 16px;
    margin-bottom: 5px;
}

#blogName {
    color: var(--prussianblue);
}

main {
    margin-top: -5px;
    background-color: var(--bluemunsell);
    padding: 20px;
    margin: 0 40px 0 40px;
}

.homepage-main {
    margin-top: 34px;
}

.blogPost-main {
    margin-top: 34px;
}

.user-name {
    background-color: var(--bluemunsell);
}

.navBar {
    background-color: var(--prussianblue);
}

.navBar a {
    color: white;
    padding: 20px;
}

#logout {
    background-color: white;
}

#titleInput,
#bodyInput,
#comment,
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup {
    background-color: var(--bluemunsell);
}

